tensorflow
pandas
dvc
notebook
numpy
matplotlib
seaborn
python-box==4.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e . # Required because of the presence of setup.py and it will help to install src folder as a package




